{% extends "layout.html" %}

{%block body%}

    <div class="nav">
        <h1 class="logo">Taskr</h1>
      </div>
      
      <div id="main"></div>
        <!-- <ul class="todolist">
          {todos.map((content, index) => (
            <div key={index} class="itemWrap">
              {/* {"listitem " + "mark"+mark[index]} */}
              <li class={"listitem mark"+mark[index]}>{index+1}. {content}</li>
              <button class="marktodo" onClick={() => markTodo(index)}>✓</button>
              <button class="deletetodo" onClick={() => removeTodo(index)}>X</button>
            </div>
            
          ))}
        </ul> -->
        <script type="text/babel">
    
            function handleSubmit(e){
                e.preventDefault();
            }
            function Form(){
                return(
                    <div>
                    <form className="taskform" onSubmit={handleSubmit}>
                        <input name="task" className="taskinput" placeholder="Insert new task..." type="text"/>
                        <input className="submitbtn" type="submit" value="Add"/>
                    </form>
                    </div>
                )
            }
            
    
            ReactDOM.render(<Form />, document.querySelector('#main'));
        </script>

{%endblock%}